@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* GERAL CONFIGURATIONS STYLES */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.center{
    justify-content: center;
}
.flex-direction-column{
    flex-direction: column;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
